<h1 class="countryName textColor"> {{name}}</h1>
<div class="formCountry">
    <ul>
        <p class="capital textColor"><span class="text">Capital: </span>{{capital}}</p>
        <p class="population textColor"><span class="text">Population: </span>{{population}}</p>
        <ul class="languages textColor"><span class="text">Languages:</span>
            {{#each languages}}
            <li class="listLenges textColor">{{name}}</li>
            {{/each}}
        </ul>
    </ul>
    <ul><img src="{{flag}}" alt="flag" class="flag" /></ul>
</div>